<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
</head>
<body>
	<h2>ログイン画面だよ</h2>
	<span style="color:red;" th:text="${msg}"></span>
	<form th:action="@{/login}" method="post" th:object="${loginForm}">
		<div>
			<label for="loginId">ログインID</label>
			<input type="text" th:field="*{loginId}">
		</div>
		<div>
			<label for="password">パスワード</label>
			<input type="password" th:field="*{password}">
		</div>
		<button>送信</button>
	</form>
</body>
</html>