<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="partial/header::header"></div>
	<title>ログイン画面</title>
</head>
<body>
	<div class="container">
		<h2>ログイン画面だよ</h2>
		<div th:replace="partial/alert::alert"></div>
		
		<form th:action="@{/login}" method="post" th:object="${loginForm}">
			<div>
				<label for="email" class="form-label">ログインID</label>
				<input type="text" th:field="*{email}" class="form-control">
			</div>
			<div>
				<label for="password" class="form-label">パスワード</label>
				<input type="password" th:field="*{password}" class="form-control">
			</div>
			<button class="btn btn-primary">送信</button>
		</form>
		<p>新規登録の方は<a th:href="@{/register}">こちら</a></p>
	</div>
</body>
</html>