<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>新規登録</title>
</head>
<body>
	<div th:insert="partial/header::header"></div>
	<h2>新規登録画面</h2>
	<div th:replace="partial/alert::alert"></div>

	<form th:action="@{/register}" method="post" th:object="${registerForm}">
		<div>
			<label for="email">ログインID</label>
			<input type="text" th:field="*{email}">
		</div>
		<div>
			<label for="password">パスワード</label>
			<input type="password" th:field="*{password}">
		</div>
		<button class="btn btn-primary">新規登録</button>
	</form>
	<p>ログインの方は<a th:href="@{/login}">こちら</a></p>
</body>
</html>