<!DOCTYPE html>
<html>
<head>
	<div th:replace="partial/head::head"></div>
	<title>ユーザー情報一覧</title>
</head>
<body>
	<div th:replace="partial/header::header"></div>
	<div class="container">
		<div>
			<h2 class="my-3">ユーザー情報一覧</h2>
			<div th:replace="partial/alert::alert"></div>
			
			<span>＜絞り込み検索条件＞</span>
			
			<form th:action="@{/userList}" method="post" th:object="${userListForm}">
				<table>
					<tbody>
						<tr>
							<td>
								<label for="loginId" class="form-label">ログインID：</label>
							</td>
							<td>
								<div class="row g-3 align-items-center my-1">
									<div class="col-auto"><input type="text" class="form-control" th:field="*{loginId}"></div>
									<div class="col-auto"><span>※部分一致</span></div>	
								</div>
							</td>
						</tr>
						<tr>
							<td><label for="userStatusKind" class="form-label">アカウント状態：</label></td>
							<td>
								<select class="form-select my-1" th:field="*{userStatusKind}">
									<option value="">指定なし</option>
									<option th:each="userStatusKindOption:${userStatusKindOptions}"
										th:value="${userStatusKindOption}"
										th:text="${userStatusKindOption.displayValue}">
									</option>
								</select>
							</td>
						</tr>
						<tr>
							<td><label for="authorityKind" class="form-label">所有権限：</label></td>
							<td>
								<select class="form-select my-1" th:field="*{authorityKind}">
									<option value="">指定なし</option>
									<option th:each="authorityKindOption:${authorityKindOptions}"
										th:value="${authorityKindOption}"
										th:text="${authorityKindOption.displayValue}">
									</option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
				<button class="btn btn-primary" name="search">検索</button>
			</form>
		</div>
		
		<div>
			<th:block th:unless="${#lists.isEmpty(userList)}">
				<form action="@{/manageUser}" method="post">
					<table class="table table-striped" id="userList">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">ログインID</th>
								<th scope="col">メールアドレス</th>
								<th scope="col">ログイン失敗回数</th>
								<th scope="col">アカウントロック日時</th>
								<th scope="col">アカウント状態</th>
								<th scope="col">所有権限</th>
								<th scope="col">登録日時</th>
								<th scope="col">最終更新日時</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user, stat : ${userList}">
								<th scope="row" th:text="${stat.count}"></th>
								<td th:id="|loginId_${stat.count}|"><span th:text="${user.loginId}"></span></td>
								<td th:id="|email_${stat.count}|"><span th:text="${user.email}"></span></td>
								<td th:id="|loginFailureCount_${stat.count}|"><span th:text="${user.loginFailureCount}"></span></td>
								<td th:id="|accountLockedTime_${stat.count}|"><span th:text="${user.accountLockedTime} != null? ${#temporals.format(user.accountLockedTime, 'yyyy-MM-dd HH:mm')}:'-'"></span></td>
								<td th:id="|userStatusKind_${stat.count}|"><span th:text="${user.userStatusKind}"></span></td>
								<td th:id="|authorityKind_${stat.count}|"><span th:text="${user.authorityKind}"></span></td>
								<td th:id="|createTime_${stat.count}|"><span th:text="${user.createTime} != null? ${#temporals.format(user.createTime, 'yyyy-MM-dd HH:mm')}:'-'"></span></td>
								<td th:id="|updateTime_${stat.count}|"><span th:text="${user.updateTime} != null? ${#temporals.format(user.updateTime, 'yyyy-MM-dd HH:mm')}:'-'"></span></td>
							</tr>
						</tbody>
					</table>
				
					<button class="btn btn-secondary" id="updateBtn" name="update" disabled>更新</button>
					<button class="btn btn-danger" id="deleteDummyBtn" disabled>削除</button>
				</form>
			</th:block>
			<th:block th:if="${#lists.isEmpty(userList)}">
				<div class="text-center">
					<span>※対象のユーザーは存在しません。</span>
				</div>
			</th:block>
		</div>
	</div>
</body>
</html>