<!DOCTYPE html>
<html>
<head>
	<div th:replace="~{partial/head::head}"></div>
	<title>ユーザー情報一覧</title>
	<script type="text/javascript" th:src="@{/js/userList.js}"></script>
</head>
<body>
	<div th:replace="~{partial/header::header}"></div>
	<div class="container">
		<div th:replace="~{partial/alert::alert}"></div>
		
		<h2 class="my-3">ユーザー情報一覧</h2>
		<span>＜絞り込み検索条件＞</span>
		
		<form th:action="@{/userList}" method="post" th:object="${userListForm}">
			<div>
				<table>
					<tbody>
						<tr>
							<td>
								<label for="loginId" class="form-label">ログインID：</label>
							</td>
							<td>
								<div class="row g-3 align-items-center my-1">
									<div class="col-auto"><input type="text" class="form-control" th:field="*{loginId}"></div>
									<div class="col-auto"><span>※部分一致</span></div>	
								</div>
							</td>
						</tr>
						<tr>
							<td><label for="userStatusKind" class="form-label">アカウント状態：</label></td>
							<td>
								<select class="form-select my-1" th:field="*{userStatusKind}">
									<option value="">指定なし</option>
									<option th:each="userStatusKindOption:${userStatusKindOptions}"
										th:value="${userStatusKindOption}"
										th:text="${userStatusKindOption.displayValue}">
									</option>
								</select>
							</td>
						</tr>
						<tr>
							<td><label for="authorityKind" class="form-label">所有権限：</label></td>
							<td>
								<select class="form-select my-1" th:field="*{authorityKind}">
									<option value="">指定なし</option>
									<option th:each="authorityKindOption:${authorityKindOptions}"
										th:value="${authorityKindOption}"
										th:text="${authorityKindOption.displayValue}">
									</option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
				<button class="btn btn-primary" name="search">検索</button>
		
			</div>
			<div>
				<th:block th:unless="${#lists.isEmpty(userList)}">
			
					<table class="table table-striped" id="userList">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">ログインID</th>
								<th scope="col">メールアドレス</th>
								<th scope="col">ログイン失敗回数</th>
								<th scope="col">アカウントロック日時</th>
								<th scope="col">アカウント状態</th>
								<th scope="col">所有権限</th>
								<th scope="col">登録日時</th>
								<th scope="col">最終更新日時</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user, stat : ${userList}">
								<th scope="row" th:text="${stat.count}"></th>
								<td th:id="|loginId_${stat.count}|"><span th:text="${user.loginId}"></span></td>
								<td th:id="|email_${stat.count}|"><span th:text="${user.email}"></span></td>
								<td th:id="|loginFailureCount_${stat.count}|"><span th:text="${user.loginFailureCount}"></span></td>
								<td th:id="|accountLockedTime_${stat.count}|"><span th:text="${user.accountLockedTime} != null? ${#temporals.format(user.accountLockedTime, 'yyyy-MM-dd HH:mm')}:'-'"></span></td>
								<td th:id="|userStatusKind_${stat.count}|"><span th:text="${user.userStatusKind}"></span></td>
								<td th:id="|authorityKind_${stat.count}|"><span th:text="${user.authorityKind}"></span></td>
								<td th:id="|createTime_${stat.count}|"><span th:text="${user.createTime} != null? ${#temporals.format(user.createTime, 'yyyy-MM-dd HH:mm')}:'-'"></span></td>
								<td th:id="|updateTime_${stat.count}|"><span th:text="${user.updateTime} != null? ${#temporals.format(user.updateTime, 'yyyy-MM-dd HH:mm')}:'-'"></span></td>
							</tr>
						</tbody>
					</table>
					
					<input type="text" th:field="*{selectedLoginId}" hidden>
					<input type="submit" class="btn btn-secondary" id="editBtn" name="edit" value="編集" disabled>
					<input type="button" class="btn btn-danger" id="deleteDummyBtn" data-bs-toggle="modal" data-bs-target="#deleteConfirm" value="削除" disabled>
					<input type="submit" id="deleteBtn" name="delete" hidden>
				</th:block>
				<th:block th:if="${#lists.isEmpty(userList)}">
					<div class="text-center">
						<span>※対象のユーザーは存在しません。</span>
					</div>
				</th:block>
			</div>
		</form>
	</div>
	
	<!-- 削除確認モーダルの設定 -->
	<div class="modal fade" id="deleteConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel">削除前確認</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					本当に削除してもよろしいですか？
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
					<button type="button" class="btn btn-danger" id="deleteOkBtn">削除する</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>